*{
	margin: 0;
	
}
#wrapper{
	background: black;
	height: 2700px;
	width: 1920px;
	margin: 0;
}
.Header{
	background-image: url(https://cdn.wallpapersafari.com/18/61/84Oz0R.jpg);
	width: 1920px;
	height: 1080px;
	margin-bottom: 0;
	margin-top: 0;
	
}
.Menu{
	background: white;
	height: 50px;
	width: 1920px;
	margin-bottom: 15px;
	margin-top: 15px;
	
	
}
.Menu a:hover{
	color: #2D0CFF;
}
.Menu a{
	text-decoration: none;
	color: #000000;
	display: block;	
}

.Menu ul{
	list-style: none
}
.Menu ul li a{
	float: left;
	margin-left: 160px;
	font-size: 30px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.Content{
	background: white;
	width: 1920px;
	height: 1500px;
}
.line1 .left1 {
	width: 600px;
	height: 600px;
	float: left;
    margin-left: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.Content .line1 ul {
	list-style: none;
}
.Content .line1 img {
	float: left;
}
.left1 ul li a{
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: red;
}
.line2 .left2 {
	width: 600px;
	height: 600px;
	float: left;
    margin-left: 25px;
	margin-bottom: 100px;
	margin-top: 100px;
	margin-top: 100px;
}
.Content .line2 ul {
	list-style: none;
}
.Content .line2 img {
	float: left;
}
.left2 ul li a{
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: red;
}
.Footer{
	background: grey;
	height: 100px;
	width: 1920px;
}

	

